In [ ]:
from google.colab import files
uploaded = files.upload()

Saving heart.csv to heart.csv

### **Importing the required packages**

In [ ]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### **2. Reading and Exploring the data**

In [ ]:
data = pd.read_csv('heart.csv')

In [ ]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
data.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

In [ ]:
data.isnull().sum()  #check for missing values column-wise

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
data.isnull().sum(axis = 1)  #check for the missing values row-wise

0      0
1      0
2      0
3      0
4      0
      ..
298    0
299    0
300    0
301    0
302    0
Length: 303, dtype: int64

In [ ]:
data.isnull().sum(axis = 1) > 2

0      False
1      False
2      False
3      False
4      False
       ...
298    False
299    False
300    False
301    False
302    False
Length: 303, dtype: bool

### **Check for the outliers**

In [ ]:
data.describe()   #Statistical Summary of the Data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

**Observation:** It seems that columns trestbps, chol, thalach, oldpeak has some outlier which we can verify by making boxplots.

As example we will the outlier removal process using `chol` column.

In [ ]:
q1 = np.percentile(data['chol'], 25)
q3 = np.percentile(data['chol'], 75)

In [ ]:
print(q1, q3)

211.0 274.5

In [ ]:
iqr = q3 - q1

In [ ]:
LB = q1 - 1.5 * iqr
UB = q3 + 1.5 * iqr

In [ ]:
print(LB, UB)

115.75 369.75

In [ ]:
(data['chol'] >= LB) & (data['chol'] <= UB)

0      True
1      True
2      True
3      True
4      True
       ...
298    True
299    True
300    True
301    True
302    True
Name: chol, Length: 303, dtype: bool

In [ ]:
data = data[(data['chol'] >= LB) & (data['chol'] <= UB)]

In [ ]:
data.shape

(298, 14)

In [ ]:
#check for duplicates
data.duplicated().sum()  #check the number of duplicate rows

1

In [ ]:
data[data.duplicated()]   #print the duplicate rows

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [ ]:
data.drop_duplicates(inplace = True)   #remove all the duplicates

In [ ]:
data['target'].value_counts()   #this is done to check whether the data is balanced or not

target
1    161
0    136
Name: count, dtype: int64